{% extends 'core/base.html' %} {% block content %}
<h1>Dashboard</h1>
<div style="display: block">
  {% for fields in item %}
  <div
    style="
      border: solid 1px black;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 20px;
      margin-right: 20px;
      padding-left: 20px;
      padding-right: 20px;
    "
  >
    <div>
      <ul style="font-size: x-large; font-weight: 700">
        {{fields.name}}
      </ul>
      <ul>
        {{fields.description}}
      </ul>
    </div>
    <div>
      <a href="{% url 'item:dashboard:editItems' fields.id %}"
        ><button>Edit</button></a
      >
      <a href="{% url 'item:dashboard:deleteItem' fields.id %}"
        ><button>Delete</button></a
      >
    </div>
  </div>

  {% endfor %}
</div>
{% endblock %}
